@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap')
.loginBlock
  display flex
  justify-content center


.authForm
  display flex
  flex-direction column
  text-align center
  height 360px
  width 240px
  background-color lightyellow
  box-shadow 2px 2px 20px 2px grey
  border-radius 16px 

.logJoin 
  margin-left 160px
  background-color: rgb(144, 238, 144 0.4)
  border-radius 0 16px 0 0
  font-size 16px 
  color darkblue
  font-family 'Press Start 2P', cursive
  cursor pointer

.email 
  margin-top 88px
  border-radius 8px
  height 16px


.password 
  margin-top 10px
  border-radius 8px
  height 16px

.auth
  font-family 'Press Start 2P', cursive
  font-size: 16px
  justify-content: center
  margin-top 16px
  width 160px
  border-radius 16px 
  background-color aquamarine
  color darkblue
  box-shadow 2px 2px 8px 2px lightgreen
  cursor pointer

 
.authLine 
  display flex
  justify-content center

.alert 
  margin-top 16px
  width 240px
  height 48px
  color red
.orLog 
  margin-top 16px 
  color darkblue
  cursor default