{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "babel-plugin-stylus-compiler",
    "transform-react-pug",
    "transform-react-jsx",
    "@babel/plugin-transform-runtime"]
}
