@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap')

.unselectable 
  -webkit-touch-callout none 
  -webkit-user-select none 
  -khtml-user-select none   
  -moz-user-select none      
  -ms-user-select none      
  user-select none       
                                  


.header 
  flex-direction row
  background-color rgba(39, 33, 45 , 0.5)
  margin-bottom 10px
  

.info-block
  display flex
  flex-direction row
  justify-content space-between


.menuHead 
  display flex
  flex-direction row
  justify-content space-between

.menuItem
  margin 16px
  font-family 'Press Start 2P', cursive
  font-size 10px
  height 16px

.logo 
  height 160px


.pokedex 
  margin auto
  cursor default
  font-size 80px;
  line-height 50px;
  font-family 'Sedgwick Ave Display', cursive;
  cursor pointer

.yel
  color yellow

.bl 
  color black