@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

.CardList 
  display flex
  flex-direction row
  flex-wrap wrap
  margin-left -16px
  justify-content center

.pageList
  display flex
  flex-direction row
  justify-content center

.navPages 
  display flex
  margin auto 0
  width 146px
  justify-content center
  cursor pointer
  font-family 'Sedgwick Ave Display', cursive

.ml
  margin-left 4px
  color limegreen
  
.ml:hover 
  color lime

.ml:active 
  color springgreen

.currentPage
  color red

.currentPage:hover
  color red

.mTB
  margin 24px 0

.selFind
  display flex
  flex-direction row
  justify-content space-between
  margin 0 24px

.selected
  width 240px

.findPokemon
  display flex
  flex-direction row

.findNameInput
  height 16px
  margin auto
  border 1px solid silver 
  border-radius 2px

.findNameButton
  margin auto
  cursor pointer

.counterContainer
  margin-left 32px

.mlFavPok
  margin-left 32px

.cPoint
  cursor pointer


 