@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap')

.setCounter
  width 30px
  cursor pointer

.sendUs
  font-family 'Press Start 2P', cursive
  margin 10px 0 0 0 
  font-size 14px
